/*=============== ACTIVITY SECTION ===============*/

.activity {
  display: flex;
  flex-direction: column;
  gap: 3%;
  margin-top: 40px;
  margin-bottom: 40px;
}

.activity h2 {
  margin-bottom: 24px;
}

.activity__wrapper {
  display: flex;
  height: 60vh;
  gap: 32px;
}

.activity__column {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.activity__card {
  display: flex;
  flex-direction: column;
  height: 100%;
  border-radius: 20px;
  -webkit-box-shadow: 2px 2px 10px 0px #cccccc;
  box-shadow: 2px 2px 10px 0px #cccccc;
}

.activity__card--duo {
}

.activity__card picture {
  display: flex;
  height: 100%;
}

.activity__card picture img {
  object-fit: cover;
  object-position: 50% 60%;
  min-height: 100%;
  border-radius: 20px 20px 0 0;
}

.activity__card p {
  font-weight: 700;
  padding: 16px;
}

/*=============== For tablet devices ===============*/

@media screen and (max-width: 992px) {
}

/*=============== For mobile devices ===============*/

@media screen and (max-width: 768px) {
}
