/*=============== FOOTER ===============*/

.footer {
  display: flex;
  gap: 5%;
  padding: 40px 70px;
  background-color: var(--clr-back);
  font-size: 14px;
}

.footer__left,
.footer__middle,
.footer__right {
  width: 100%;
}

.footer ul {
  padding: 0;
}

.footer li {
  list-style: none;
  margin-bottom: 16px;
}

/*=============== For tablet devices ===============*/

@media screen and (max-width: 992px) {
}

/*=============== For mobile devices ===============*/

@media screen and (max-width: 768px) {
  .footer {
    flex-direction: column;
  }

  .footer__left,
  .footer__middle,
  .footer__right {
    margin-bottom: 20px;
  }

  .footer li {
    margin-bottom: 8px;
  }
}
