/*=============== HEADER & NAV ===============*/

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo img {
  width: 97px;
  margin: 20px 0;
}

.nav {
  height: 90px;
  display: flex;
}

.nav__list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.nav__list li {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin-top: 0;
  padding: 0 24px;
  border-top: 3px solid var(--clr-page);
}

.nav__list li:hover {
  border-top: 3px var(--clr-primary) solid;
  color: var(--clr-primary);
}

/*=============== SEARCH SECTION ===============*/

.search {
  /* background-color: beige; */
  display: flex;
  flex-direction: column;
}

.search h2 {
  font-size: var(--fs-h2);
  margin-bottom: 8px;
}

.search__subtitle {
  margin-bottom: 24px;
}

.searchBox {
  display: flex;
  margin-bottom: 24px;
}

.search__form {
  display: flex;
}

.form__icon {
  background-color: var(--clr-back);
  padding: 24px;
  border: solid 1px var(--clr-back);
  border-radius: 16px 0 0 16px;
  font-size: 20px;
}

.form__input--searchBox {
  border: none;
  appearance: none;
  padding: 16px;
  border: solid 1px var(--clr-back);
  font-weight: 600;
  font-size: var(--fs-body);
  font-family: var(--ff-primary);
}

input,
input:focus {
  outline: none;
}

.form__input--button {
  display: flex;
  background-color: var(--clr-primary);
  padding: 16px;
  border: solid 1px var(--clr-back);
  border-radius: 0 16px 16px 0;
  color: #fff;
  font-weight: 800;
  font-size: var(--fs-body);
  font-family: var(--ff-primary);
}

.form__input--icon {
  display: none;
}

/*=============== For tablet devices ===============*/

@media screen and (max-width: 992px) {
}

/*=============== For mobile devices ===============*/

@media screen and (max-width: 768px) {
  .header {
    flex-direction: column;
    margin: 0;
  }

  .nav {
    height: 70px;
    width: 100%;
  }

  .nav__list {
    width: 100%;
    margin: auto;
  }

  .nav__list li {
    width: 100%;
    padding-bottom: 16px;
    border-top: 0;
    border-bottom: 3px solid var(--clr-back);
  }

  .nav__list li:hover {
    border-top: 0;
    border-bottom: 3px var(--clr-primary) solid;
  }

  /*=============== SEARCH SECTION ===============*/

  .search {
    margin: 16px 24px;
  }

  .search h2 {
    font-size: 20px;
  }

  .searchBox {
    display: flex;
    justify-content: center;
    margin-bottom: 24px;
    /* position: relative; */
  }

  .form__icon {
    padding: 20px;
    font-size: 16px;
  }

  .form__input--searchBox {
    font-size: var(--fs-body-mob);
    border-right: solid 0px #fff;
  }

  .form__input--icon {
    display: block;
    background-color: var(--clr-primary);
    border: solid 1px #fff;
    height: 58px;
    width: 58px;
    border-radius: 16px;
    color: #fff;
    font-size: 16px;
    /* padding: 16px; */
    /* position: absolute; */
    /* right: 10%; */
  }

  .form__input--button {
    display: none;
    visibility: hidden;
  }
}
