/*=============== LODGING SECTION ===============*/

.lodging {
  display: flex;
  gap: 3%;
  margin-top: 40px;
  margin-bottom: 40px;
}

.lodging--left,
.lodging--right {
  display: flex;
  flex-direction: column;
  background-color: var(--clr-back);
  padding: 30px;
  border-radius: 25px;
}

.lodging--left {
  width: 65%;
}

.lodging--right {
  width: 35%;
}

.lodging__title {
  font-weight: 700;
  font-size: var(--fs-h2);
  margin-bottom: 24px;
}

.lodging__wrapper {
  display: flex;
}

.lodging__wrapper--left {
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 16px;
}

.lodging__wrapper--right {
  flex-direction: column;
  /* flex: 0 1 100%; */
}

.title__container--right {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.title__container--right i {
  font-size: 22px;
}

.lodging--left a {
  margin-top: 24px;
  font-weight: 700;
}

/* Card Box*/

.card {
  display: flex;
  border-radius: 15px;
  background-color: white;
  margin-bottom: 16px;
  padding: 4px;
  -webkit-box-shadow: 2px 2px 10px 0px #cccccc;
  box-shadow: 2px 2px 10px 0px #cccccc;
}

.card--left {
  flex-direction: column;
  width: 31%;
}

.card--right {
  flex-direction: row;
  width: 100%;
}

.picture--right {
  display: flex;
  width: 40%;
  height: 130px;
}

.card__img {
  object-fit: cover;
  object-position: 50% 60%;
}

.card__img--right {
  border-radius: 15px 0 0 15px;
  max-height: 130px;

  /* justify-content: stretch; */
}

.card__img--left {
  max-height: 110px;
  border-radius: 15px 15px 0 0;
}

.card__container {
  display: flex;
  gap: 4px;
  margin: 6px 10px;
}

.card__container--right {
  flex-direction: column;
  justify-content: space-between;
  width: 60%;
}

.card__container--left {
  flex-direction: column;
}

.card__info {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-bottom: 4px;
}

.card__title {
  font-weight: 600;
  font-size: var(--fs-body-mob);
}

.card__price {
  font-size: 12px;
}

.card__note {
  font-size: 12px;
}

.card__note .blue {
  color: var(--clr-primary);
}

.card__note .gray {
  color: var(--clr-back);
}

/*=============== For tablet devices ===============*/

@media screen and (max-width: 992px) {
  .lodging--right,
  .lodging--left {
    width: 50%;
    padding: 20px;
  }

  .card--left {
    flex-direction: column;
    width: 45%;
  }
}

/*=============== For mobile devices ===============*/

@media screen and (max-width: 768px) {
  .lodging {
    flex-direction: column-reverse;
    margin-bottom: 20px;
  }

  .lodging--right,
  .lodging--left {
    width: 100%;
    border-radius: 0;
    margin-bottom: 24px;
  }

  .lodging--left {
    background-color: white;
    padding: 0 20px;
  }

  .lodging__wrapper--left {
    flex-direction: column;
  }

  .card {
    width: 100%;
  }

  .card__img--right {
    /* width: 100px; */
    /* height: 120px; */
    /* max-height: 120px; */
  }
}
