/*=============== SEARCH SECTION ===============*/

.search {
  /* background-color: beige; */
  display: flex;
  flex-direction: column;
}

.search h2 {
  font-size: var(--fs-h2);
  margin-bottom: 8px;
}

.search__subtitle {
  margin-bottom: 24px;
}

.searchBox {
  display: flex;
  margin-bottom: 24px;
}

.search__form {
  display: flex;
}

.form__icon {
  background-color: var(--clr-back);
  padding: 16px 20px;
  border: solid 1px var(--clr-back);
  border-radius: 16px 0 0 16px;
  font-size: 18px;
}

.form__input--searchBox {
  border: none;
  appearance: none;
  padding: 16px;
  border: solid 1px var(--clr-back);
  font-weight: 600;
  font-size: var(--fs-body);
  font-family: var(--ff-primary);
}

input,
input:focus {
  outline: none;
}

.form__input--button {
  display: flex;
  background-color: var(--clr-primary);
  padding: 16px 24px;
  border: solid 1px var(--clr-back);
  border-radius: 0 16px 16px 0;
  color: #fff;
  font-weight: 800;
  font-size: var(--fs-body);
  font-family: var(--ff-primary);
}

.form__input--icon {
  display: none;
}

.filters {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 24px;
  margin-bottom: 24px;
}

.filters__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 24px;
}

.filterBox {
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 3px var(--clr-back);
  border-radius: 45px;
  font-weight: 600;
  height: 50px;
}

.filterBox__icon {
  border-radius: 45px;
  padding: 16px;
  background-color: var(--clr-secondary);
  color: var(--clr-primary);
  width: 50px;
}

.filterBox__title {
  padding: 16px;
}

.search__result {
  display: flex;
  align-items: baseline;
  gap: 16px;
}

.search__result i {
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 2px var(--clr-secondary);
  border-radius: 45px;
  width: 20px;
  height: 20px;
  padding: 12px;
  font-size: 14px;
  color: var(--clr-primary);
}

/*=============== For tablet devices ===============*/

@media screen and (max-width: 992px) {
}

/*=============== For mobile devices ===============*/

@media screen and (max-width: 768px) {
  .search {
    margin: 16px 24px;
  }

  .search h2 {
    font-size: 20px;
  }

  .searchBox {
    display: flex;
    justify-content: center;
    margin-bottom: 24px;
    /* position: relative; */
  }

  .form__icon {
    padding: 20px;
    font-size: 16px;
  }

  .form__input--searchBox {
    font-size: var(--fs-body-mob);
    border-right: solid 0px #fff;
  }

  .form__input--icon {
    display: block;
    background-color: var(--clr-primary);
    border: solid 1px #fff;
    height: 58px;
    width: 58px;
    border-radius: 16px;
    color: #fff;
    font-size: 16px;
    /* padding: 16px; */
    /* position: absolute; */
    /* right: 10%; */
  }

  .form__input--button {
    display: none;
    visibility: hidden;
  }

  .filters {
    flex-direction: column;
    align-items: flex-start;
  }

  .search__result i {
    font-size: 12px;
  }
}
